body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
label {
  margin-right: 1.5rem;
}
button {
  border-radius: 0.4rem;
}
[type=search] {
  width: 100%;
}
.plus-btn-wrapper {
  margin-left: 11px;
}
.container {
  margin-top: 3rem;
}
.container > .row:first-child {
  margin-bottom: 1rem;
  font-weight: bold;
}
/**
* login-container
*/
.login-container  h3 {
  margin-bottom: 2rem;
}
.login-container  {
  width: 30rem;
  background: lightblue;
  border: 1px solid black;
  margin: 5rem auto;
  padding: 2rem;
}
.login-container button {
  margin-top: 1rem;
}
.login-container input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
}
input {
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem;
}
